$image-path: '../images/';

$font-quicksand: 'Quicksand', sans-serif;
$font-roboto: 'Roboto Condensed', sans-serif;

// Color
$color-blue: rgb(34, 151, 147);

// Media Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Dimensions
$header-height: 60px;
$footer-height: 300px;