@import './variables';

@import './common/common-header.scss';
@import './common/common-footer.scss';
@import './example/example.scss';

body {
  font-size: 16px;
  font-family: $font-quicksand;
  margin: 0 auto;

  text-align: center;
  color: black;
  background: url("https://image.shutterstock.com/z/stock-vector-bank-building-on-the-urban-landscape-vector-illustration-flat-style-582814390.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* CLICKABLES */
[role="button"],
button,
input,
label,
a,
select {
  cursor: pointer;
  outline: none;
}

.home{
  min-height: 100vh;
  position: relative;
  .home-body{
    padding: $header-height 0 $footer-height 0;
    .home-body-game{
      margin-top: 2em;
      display: flex;
      max-width: 60em;
      background: rgb(197, 193, 255);
      margin: 2em auto;
      height: 80vh;
      border-radius: 1em;
      border: 1px solid black;
      box-shadow: 0.5em 0.25em;
      overflow: hidden;
      .home-body-game-nav{
        min-width: 20%;
        background: rgba(0,0,0,0.2);
        border-radius: 1em 0 0 1em;
        .home-body-game-nav-pic {
          max-width: calc(100% - 2em);
          border-radius: 100em;
          margin: 1em;
        }
        .home-body-game-nav-name {
          font-size: 1.5em;
        }
        .home-body-game-nav-link{
          padding: 1em;
          text-shadow: 0.05em 0.05em;
          background: rgba(140, 0, 255, 0.2);
          margin: 0.5em 0;
        }
      }
      .home-body-game-body{
        min-width: calc(80% - 2em);
        padding: 3em 1em;
      }
    }
  }
}

.profile {
  text-align: start;
  overflow-y: scroll;
  max-height: 100% !important;
  position: relative;
  .profile-details{

  }
}

.loans {
  text-align: start;
  overflow-y: scroll;
  max-height: 100% !important;
  position: relative;
  .loans-details{

  }
}
.stocks{
  text-align: start;
  overflow-y: scroll;
  max-height: 100% !important;
  position: relative;
  .stocks-details{

  }
}

.list-header{
  font-size: 1.5em;
  font-weight: 900;
  padding: 0.5em 0 0 0;
}
.list-seg{
  background: rgba(0, 0, 153, 0.2);
  border-radius: 1em;
  padding: 0.5em;
  margin: 1em 0;
  .list-seg-item{
    max-height: 10em;
    overflow: hidden;
    display: flex;
    margin: 1em;
    padding: 1em;
    background: rgba(0, 0, 153, 0.2);
    .list-seg-item-pic{
      width: 8em;
      height: 8em;
    }
    .list-seg-item-details{
      padding: 1em;
      .list-seg-item-details-item{
        padding: 0.2em;
      }
    }
  }
}

.login{
  min-height: 100vh;
  position: relative;
  .login-body{
    padding: $header-height 0 $footer-height 0;
    .login-body-game{
      font-size: 2em;
      margin: 2em auto;
      max-width: 20em;
      background: white;
      padding: 1em;
      border-radius: 0.4em;
      .login-body-game-label{
        font-size: 1.5em;
        text-align: left;
      }
      form {
        display: flex;
        flex-direction: column;

        input{
          margin: 0.5em 0;
          padding: 0.5em;
        }
      }
    }
  }
}

.video{
  min-height: 100vh;
  position: relative;
  .video-body{
    padding: $header-height 0 $footer-height 0;
    .video-body-game{
      font-size: 5em;
      background:black;
      color: wheat;
      margin-top: 20px;
    }
  }
}

.modal-close{
  color: red;
  text-align: right;
}
.modal-top{
  display: flex;
  text-align: start;
  .modal-top-img{
    width: 10em;
    height: 10em;
  }
  .modal-top-description{
    padding: 1em;
    .modal-top-description-item{
      padding: 0.2em 0;
    }
  }
}

.modal-getloan{
  text-align: start;
  background: rgba(255, 139, 30, 0.2);
  padding: 1em;
  margin: 1em 0;
  .modal-getloan-header{
    font-size: 1.5em;
  }
  .modal-getloan-input{
      
  }
  .modal-getloan-button{
    background: rgb(17, 184, 17);
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em black;
  }
}

.modal-repayloan{
  text-align: start;
  background: rgba(255, 139, 30, 0.2);
  padding: 1em;
  margin: 1em 0;
  .modal-repayloan-header{
    font-size: 1.5em;
  }
  .model-repayloan-details{
    padding: 0.2em;
  }
  .model-repayloan-button{
    width: 7em;
    margin: 0.2em 0;
    text-align: center;
    background: rgb(17, 184, 17);
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em black;
  }
}

.d-flex{
  display: flex;
  justify-content: space-between;
}

