{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": "off",
    "arrow-body-style": "off",
    "react/jsx-filename-extension": "off",
    "comma-dangle": "off",
    "react/destructuring-assignment": "off"
  }
}